[flake8]
select = C,E,F,I,W
max-complexity = 10
max-line-length = 88
import-order-style = google
application-import-names = reimbursement_manager
ignore =
    # E501: line too long
    E501,
    # E303: too many blank lines
    # E303,
