[flake8]
select =
    # bugbear: B = bug
    B,
    # flake8(mccabe): C = complexity
    C,
    # flake8(pycodestyle): E = error
    E,
    # flake8(pyflake): F = failure (invalid Python code)
    F,
    # flake8-import-order: I = import
    I,
    # bandit: = S = security
    S,
    # flake8(pycodestyle): warning
    W
max-complexity = 10
max-line-length = 88
import-order-style = google
application-import-names = reimbursement_manager
per-file-ignores = tests/*:S101
ignore =
    # E501: line too long
    E501,
    # BLK100: Black would make changes.
    BLK100,
